<h2> Welcome to Event Hoster </h2>

<p> Hi <%= @user.name %> </p>

<p> Welcome to Event Hoster! Here is your generated password: <%= @password %>. You can use it to log in/update your account. Please change it after logging in </p>