<div class="columns">
  <div class="column is-4 is-offset-4">
    <h2 class="title is-2 has-text-centered"> Participants in <%= @event.name %> </h2>
    <%= render partial: "users/participant", collection: @users %>
  </div>
</div>