<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_url, class: "navbar-item" do %>
      <span class="icon is-large">
        <i class="fa fa-bandcamp"></i>
      </span>
      <span>Event Hoster</span>
    <% end %>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "Home", root_url, class: "navbar-item"%>
      <% if can? :create, Event %>
        <%= link_to "New Event", new_event_url, class: "navbar-item" %>
      <% end %>
      <%= render 'layouts/login_form' %>
    </div>
  </div>
</nav>

